JWT_SECRET=secret key
JWT_EXPIRATION=24h
JWT_LOGIN_EXPIRATION=1h


# Email details
EMAIL_USER=developers gmail
EMAIL_PASS=  # Your 16-character Google App Password
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
